@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--base: #fff;
	--contrast: #333;

	--font-mono: "Fira Code", monospace;
	--font-serif: "DM Serif Display", serif;
	--font: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--bg-100: #ffffff;

	--text: #202325;

	--lavender: #e64fc5;
	--green: #679a1f;
	--orange: orange;
	--red: #f05d46;

	--primary: #4185f4;
	--secondary: #4d535d;
	--text-primary: #a0b2cf;

	--mono-soft: #2b3133;
	--mono: hsl(180, 5%, 54%);
	--mono-mid: hsl(180, 5%, 40%);

	--border-light: color-mix(in srgb, var(--primary), 90% var(--bg-200));
	--border: color-mix(in srgb, var(--mono) 30%, var(--bg-100));
	--border-base: var(--border);
	--border-mid: color-mix(in oklab, var(--mono) 60%, var(--bg-100));

	--text-soft: color-mix(in oklab, var(--text) 80%, var(--bg-100));

	--tt-button-hover: color-mix(in srgb, var(--mono) 10%, var(--bg-100));
	--tt-border: var(--border);
}

* {
	box-sizing: border-box;
	@media screen and (max-width: 520px) {
		-webkit-tap-highlight-color: transparent;
	}
}
body {
	color: var(--text);
	font-family: var(--font);
	padding: 0;
	margin: 0;

	&[data-scroll-locked="true"] {
		pointer-events: none;
		overflow: hidden !important;
		overscroll-behavior: contain;
		position: relative !important;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		margin-left: 0;
		margin-top: 0;
		margin-right: 0px !important;
	}
}
